@import "./header.css";
@import "./next.css";
@import "./about.css";
@import "./design.css";
@import "./services.css";


.container {
    width: 1300px;
    margin: 0 auto;
    position: relative;
}


    